:root{
    --cor-padrao: purple;
    --tamanho-de-fonte-padrao: 30px;
}

h2{
    color: var(--cor-padrao, chocolate);
    font-size: var(--tamanho-de-fonte-padrao, 40px);
}

h3{
    color: var(--cor-padrao, aquamarine);
    font-size: var(--tamanho-de-fonte-padrao, 40px);
}

p{
    color: var(--cor-padrao, aquamarine);
    font-size: var(--tamanho-de-fonte-padrao, 40px);
}

span{
    color: var(--cor-padrao, aquamarine);
    font-size: var(--tamanho-de-fonte-padrao, 40px);
}